@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  margin: 0 8px; /* Add a gap between the cards */
  transition: transform 0.3s ease; /* Adjust the transition effect */
  width: 240px; /* Adjust the card width */
}

.slick-center {
  transform: scale(1.1); /* Zoom effect for the center card */
}

.best-seller-section {
  text-align: Left; 
  margin-top: 50px; 
  margin-left:90px;
}

.best-seller-title {
  font-size: 24px; 
  font-weight: bold;
}

.orange-line {
  border: 4px solid #1A9247;
  width:300px; 
  margin: 8px 3px auto; 
}
/* Cardsground.css */
.card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.button {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #34D399;
  color: #fff;
}
/* Add your existing styles */

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.loading-dots {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 30px;
}

.dot {
  height: 30px;
  width: 30px;
  position: absolute;
  animation: bounce 2s infinite;
}

.dot img {
  width: 70%;
  height: 70%;
  border-radius: 50%;
}

.dot:nth-child(1) {
  left: 0;
  animation-delay: 0.3s;
}

.dot:nth-child(2) {
  left: 40px;
  animation-delay: 0.6s;
}

.dot:nth-child(3) {
  left: 80px;
  animation-delay: 0.9s;
}

.dot:nth-child(4) {
  left: 120px;
  animation-delay: 1.2s;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 8s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes cardAnimation {
  from {
    opacity: 0;
    transform: translateY(20px); /* Optional: Slide up while fading in */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes cardHoverAnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

.animate-card {
  animation: cardAnimation 0.5s ease-out;
}

.animate-card-hover {
  animation: cardHoverAnimation 0.3s ease-out;
}

.animate-card:hover {
  transform: scale(1.05);
}
#y{
  margin-top: -500px;
}



